Source: polonius
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 10), libboost-regex1.81-dev, pandoc
Standards-Version: 3.9.3
Section: utils

Package: polonius
Version: 0.6
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Text editor for very large files
 Polonius is a text editor for very large files, designed to handle files
 that are too large for traditional text editors. It edits files in-place
 rather than loading them into memory, allowing it to work with files
 that are larger than available RAM.
 .
 This package contains the polonius binary and its dependencies.
